<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Viajero</title>
        <link rel="icon" href="../../public/images/fondo sin fondo2.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-brand">Viajero</a>
        </nav>

        {{{body}}}

        <footer class="footer-container">
            <p class="text-center">Diseñado por Gaston Alejandro Sosa</p>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2020-2024 Company, Inc</span>
        </footer>
    </body>

</html>